<% content_for :cover do %>
    <div class="cover">
        <div class="cover-inner">
            <div class="cover-contents">
                <h1>ステキなモノと出会う場所</h1>
                <a href="" class="btn-success btn-lg">モノリストを始める</a>
            </div>
        </div>
    </div>
<% end %>

<p>テスト</p>